{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>{% block title %} Document {% endblock %} </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

      <!-- GRAFICOS  -->
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/data.js"></script>
      <script src="https://code.highcharts.com/modules/drilldown.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/modules/export-data.js"></script>
      <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <!-- ALERTS -->
     <link rel="stylesheet" href=" {% static 'alerts/css/jquery-confirm.css' %} ">

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="{% url 'app:index' %}"><img src="{% static 'images/logo.png' %}" alt="image"></a> -->
                <a class="navbar-brand" href="/admin"><img src="{% static 'images/logo.png' %}" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        {% block nav %}
                        <!-- <li><a class="nav-link" href="courses.html">Documentos</a></li> -->
                        {% if request.user.perfil.nombre == 'Admin' %}
                            <li><a class="nav-link" href="{% url 'app:facultades' %}">Facultades</a></li>
                            <li><a class="nav-link" href="{% url 'app:carreras' %}">Carreras</a></li>
                            <li><a class="nav-link" href="{% url 'app:docentes' %}">Docentes</a></li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" style="margin-top: 50pt;text-transform:uppercase!important; " id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span style="line-height: 2.8;">Estudiantes</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'app:estudiantes' %}">Listado</a>
                                    <a class="dropdown-item" href="{% url 'app:tutorias' %}">Tutorías</a>
                                    <a class="dropdown-item" href="{% url 'app:proyectos' %}">Proyectos</a>
                                    <a class="dropdown-item" href="{% url 'app:solicitudes' %}">Solicitudes</a>
                                </div>
                            </div>
                            <!-- <li><a class="nav-link" href="{% url 'app:listaVerificaciones' %}">CheckList</a></li> -->
                            <!-- <li><a class="nav-link" href="{% url 'app:listaVerificaciones' %}">Tribunal</a></li> -->
                            <li><a class="nav-link" href="{% url 'app:listaVerificaciones' %}">Lista&nbspVerificación</a></li>
                            <li><a class="nav-link" href="{% url 'app:tribunal' %}">Tribunal</a></li>
                            <li><a class="nav-link" href="{% url 'app:reportes' %}">Reportes</a></li>
                            {% elif request.user.perfil.nombre == 'Docente' %}
                            <li><a class="nav-link" href="{% url 'app:estudiantes' %}">Estudiantes</a></li>
                            <li><a class="nav-link" href="{% url 'app:tutorias' %}">Tutorías</a></li>
                            <li><a class="nav-link" href="{% url 'app:proyectos' %}">Proyectos</a></li>
                            <li><a class="nav-link" href="{% url 'app:avances' %}">Avances</a></li>
                            <li><a class="nav-link" href="{% url 'app:listaVerificaciones' %}">Lista&nbspVerificación</a></li>
                            <!-- <li><a class="nav-link" href="{% url 'app:proyectos' %}">Documentación</a></li> -->
                        {% elif request.user.perfil.nombre == 'Estudiante' %}
                            <li><a class="nav-link" href="{% url 'app:documentos' %}">Documentos</a></li>
                            <li><a class="nav-link" href="{% url 'app:tutorias' %}">Tutorias</a></li>
                            <li><a class="nav-link" href="{% url 'app:proyectos' %}">Proyectos</a></li>
                            <li><a class="nav-link" href="{% url 'app:avances' %}">Avances</a></li>
                            <li><a class="nav-link" href="{% url 'app:listaVerificaciones' %}">Lista&nbspVerificación</a></li>

                        {% else %}
                            <li><a class="nav-link active" href="{% url 'app:index' %}">Inicio</a></li>
                            <li><a class="nav-link" href="">Documentación General</a></li>
                            <li><a class="nav-link" href="">Misión</a></li>
                            <li><a class="nav-link" href="">Visión</a></li>
                            <li><a class="nav-link" href="">UPEC</a></li>
                        {% endif %}
                            
                        
                        <!-- sesión de usuarios  -->
                        <div class="dropdown">
                            {% if request.user.pk %}
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img src="{{request.user.getImagen}}" width="50" height="50" title="{{request.user.getInformacion}}" style="border-radius: 50%;"  alt="">
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#" ><b>{{request.user.getAlias}} (<i>{{request.user.perfil.getInicial}}</i>)</b></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'app:perfil' %}">Editar Perfil</a>
                                <a class="dropdown-item" href="{% url 'app:editPassword' %}">Cambiar Contraseña</a>
                                <a class="dropdown-item" href="{% url 'app:logout' %}">Cerrar Sesión</a>
                              </div>
                            {% else %}
                            <a type="button" href="{% url 'app:login' %}" class="btn btn-outline-secondary" aria-haspopup="true" aria-expanded="true">
                              Iniciar Sesión
                            </a>
                            {% endif %}
                        </div>
                        {% endblock nav %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    {% block content %}

    <div class="container" style="margin-top: 100px; padding: 100px;" >
        <p>Seleccione una opción para continuar</p>
    </div>
    
    {% endblock content %}
    

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2022 UICAPP</p>
                </div>
            </div>
        </div>
    </div>


    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
    
    <!-- ALL JS FILES -->
    
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
    <script src="{% static 'js/dataTables.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'js/slider-index.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'alerts/js/jquery-confirm.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

	<script>
	/* counter js */

(function ($) {
    $('.select2').select2();
	$.fn.countTo = function (options) {
		options = options || {};
		
		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);
			
			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;
			
			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
			
			$self.data('countTo', data);
			
			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);
			
			// initialize the element with the starting value
			render(value);
			
			function updateTimer() {
				value += increment;
				loopCount++;
				
				render(value);
				
				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}
				
				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;
					
					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}
			
			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};
	
	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};
	
	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
	</script>
</body>

</html>