{% extends 'Views/header.html'  %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div style="margin-top: 7%;" >
     <div class="card">
        <div class="card-header">
           <div class="row">
            <div class="col">
                <p><b style="font-size: 20px;" > {{listado}} </b> </p>
            </div>
           </div>
        </div>
        
        <div class="card-body table-responsive">  
            {% if request.user.perfil.nombre != 'Estudiante' %}
                <div class="row">
                    <div class="col">
                        <div class="form-floating last mb-2">
                            <select class="form-select" style="background-color: rgba(11, 245, 81, 0.089);" name="idProyecto" id="idProyecto" required aria-label="Listado de Proyectos">
                                <option value="0" >Todos</option>
                              {% for item in idProyectos %}
                                <option value="{{item.pk}}" >{{item}}</option>
                              {% endfor %}
                            </select>
                            <label for="floatingSelect">Listado de Proyectos</label>
                          </div>
                    </div>
                    <div class="col">
                        <div class="form-floating last mb-2">
                            <select class="form-select" style="background-color: rgba(11, 245, 81, 0.089);" name="idCarrera" id="idCarrera" required aria-label="Listado de Carreras">
                                <option value="0" >Todas</option>
                              {% for item in idCarreras %}
                                <option value="{{item.pk}}" >{{item}}</option>
                              {% endfor %}
                            </select>
                            <label for="floatingSelect">Listado de Carreras</label>
                          </div>
                    </div>
                </div>
                  <hr>
            {% endif %}
                
                <table class="table table-hover table-responsive" id="{{title | lower }}">
                    <thead class="table-light container">
                        <tr>
                            {% for titulo in encabezado %}
                                <th class="header" scope="col">{{ titulo | upper }}</th>
                            {% endfor %}
                            
                            {% if request.user.perfil.nombre != 'Estudiante' %}
                                <th class="header" scope="col">OPCIONES</th>
                            {% endif %}
                                
                           </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ver Lista de verificación completa
            </button>
            
            {% if request.user.perfil.nombre == 'Estudiante' %}
                <a href="add" class="btn btn-outline-success">Agregar nuevo Ítem</a>
            {% endif %}
                
        </div>
    </div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <center><h5 class="modal-title" id="exampleModalLabel"><b>LISTA DE VERIFICACIÓN DOCUMENTOS DE LA UIC OPCIÓN TIC</b></h5></center>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center;" >DETALLE</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for lista in nombreListaVerificacion  %}
                    <tr><th>{{lista}} </th></tr>
                    {% endfor %}
                      
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  


</div>
<script>
    $('#idProyecto').on('change', function(){
        let idProyecto = $(this).val();
        let idCarrera = $('#idCarrera').val();
        let data = {
            idCarrera : idCarrera,
            idProyecto : idProyecto
        }
        getItems('#{{title | lower }}', true, data);
    });
    $('#idCarrera').on('change', function(){
        let idProyecto = $('#idProyecto').val();
        let idCarrera = $(this).val();
        let data = {
            idCarrera : idCarrera,
            idProyecto : idProyecto
        }
        getItems('#{{title | lower }}', true, data);
    });
    
    $(function(){
        let data = {
            idCarrera : 0,
            idProyecto : 0
        }
        getItems('#{{title | lower }}', true, data);
    });
</script>
{% endblock content %}