	<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

	<title>{{titulo}}</title>
</head>
<style>
	p{
		text-align: justify;
	}
</style>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header">{{titulo | upper }}</div>
			<div class="card-body">
				<h1> {% if docente %} Estimado/a Estudiante {% else %} Estimados Docentes {% endif %} </h1>
				<p>
					El presente correo, tiene como finalidad de, informale que, {{docente}} ha {{tema}} 
					para el proyecto {{proyecto}}. A continuación, presentamos los detalles:
				</p>
				
				{% if requerimiento %}
					<p>Tema: {{requerimiento}} </p>
				{% endif %}
					
				{% if observacion %}
					<p>Observación: {{observacion}} </p>
				{% endif %}
					
				
				{% if porcentaje %}
					<p>Porcentaje de avance: {{porcentaje}} %</p>
				{% endif %}

				{% if fechaEntrega %}
					<p>Fecha de Entrega: {{fechaEntrega}} </p>
				{% endif %}
				
				{% if docentesPrincipales %}
					<p>Docentes Proncipales:</p>{{docentesPrincipales | safe}} 
				{% endif %}
				{% if docentesSuplentes %}
					<p>Docentes Suplentes:</p>{{docentesSuplentes | safe}} 
				{% endif %}
				
				{% if fechaDefensa %}
					<p>Fecha defensa: {{fechaDefensa}} </p>
					<p>Aula asignada: {{aula}} </p>
				{% endif %}

				{% if fechaDefensaEliminada %}
					<p>Fecha en la que se iba a defender: {{fechaDefensaEliminada}} </p>
					<p>Aula asignada: {{aula}} </p>

				{% endif %}

					
				<hr>
				<p><i><b>Este mensaje fue generado automáticamente, por favor no responda.</b></i></p>
				
			</div>
			<div class="card-body">
				<b>Universidad Politécnica Estatal del Carchi </b><br>
				<b>Dirección</b><br>
				<b>Calle Antisana y</b><br>
				<b>Av. Universitaria.</b><br>
				<b>Tulcán-Ecuador</b><br>
				<b>Email: info@upec.edu.ec</b><br>
			</div>
			<div class="card-footer">
				<p><b>© Copyrights 2022 UICAPP</b></p>
			</div>
		</div>
	</div>

</body>
</html>