{% extends 'Views/header.html'  %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <div class="container" style="margin-top: 10%; align-content: center;" >
        <form action="" method="POST" class="form" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <b style="font-size: 20px;" > {{accion}} </b>
                </div>
                <div class="card-body">
                        {% csrf_token %}

                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if eliminar %}
                            <div class="alert alert-danger" role="alert">
                                Está seguro de eliminar a <i> <b>{{eliminar.object}}</b> </i>
                            </div>
                        {% else %}
                            {% for op in form %}
                                {% if op.name == 'idEstudiantes' %}
                                    {{op.label}}
                                    <select name="idEstudiantes" class="form-control form-control-sm" autocomplete="off" required="" id="id_idEstudiantes" multiple="">
                                        {% for item in idEstudiantes %}
                                            {% if item.selected %}
                                                <option value="{{item.pk}}" selected >{{item.getInformacion}}</option>
                                            {% else %}
                                                <option value="{{item.pk}}" >{{item.getInformacion}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'idCarrera' and request.user.perfil.nombre == 'Docente' and request.user.idCarrera is not None %}
                                    <input type="hidden" name="idCarrera" id="id_idCarrera" value="{{request.user.idCarrera.pk}}" >
                                {% elif op.name == 'idDocente' and request.user.perfil.nombre == 'Docente' %}
                                    <input type="hidden" name="idDocente" id="id_idDocente" value="{{request.user.pk}}" >
                                    {% elif op.name == 'idDocente' and request.user.perfil.nombre == 'Admin' and agregar is None %}
                                    <input type="hidden" name="idDocente" id="id_idDocente" value="{{op.value}}" >
                                {% elif op.name == 'idProyecto' and idProyectoTutoria %}
                                    {{op.label}}
                                    <select name="idProyecto" class="form-control form-control-sm" autocomplete="off" required="" id="id_idProyecto">
                                        {% for item in idProyecto %}
                                                <option value="{{item.pk}}" >{{item.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'fechaTutoria' and tutorias %}
                                    {{op.label}} <br>
                                    {% if op.value %}
                                        <input type="datetime-local" disabled class="form-control form-control-sm" title="Fecha actual de entrega {{op.value}}" value="{{op.value | date:'Y-m-d H:i:s'}}" name="fechaTutoria" style="width: 190px;" required id="id_fechaTutoria">
                                        <div class="help" style="font-size: 11px; color: var(--body-quiet-color);" ><i>Fecha actual de entrega: <b>{{op.value}}</b></i></div>
                                    {% else %}  
                                        <input type="datetime-local" class="form-control form-control-sm" title="Fecha actual de entrega {{op.value}}" value="{{op.value | date:'Y-m-d H:i:s'}}" name="fechaTutoria" style="width: 190px;" required id="id_fechaTutoria">
                                    {% endif %}  
                                {% elif op.name == 'fechaEntrega'%}
                                    <label for="id_fechaEntrega">Fecha de Entrega</label>
                                    <input type="datetime-local" class="form-control form-control-sm" title="Fecha actual de entrega {{op.value}}" value="{{op.value | date:'Y-m-d H:i:s'}}" name="fechaEntrega" style="width: 190px;" required id="id_fechaEntrega">
                                    {% if op.value %}
                                        <div class="help" style="font-size: 11px; color: var(--body-quiet-color);" ><i>Fecha actual de entrega: <b>{{op.value}}</b></i></div>
                                    {% endif %}                                        
                                    <br>
                                {% elif op.name == 'idProyecto' and tutorias %}
                                    <input type="hidden" name="idProyecto" id="id_idProyecto" value="{{tutorias.idProyecto.id}}" >
                                {% elif op.name == 'idProyecto' and listaVerificacion %}
                                    <input type="hidden" name="idProyecto" id="id_idProyecto" value="{{listaVerificacionList.id}}" >
                                {% elif op.name == 'observacion' %}
                                    {% if editarObser %}
                                        {{op.label}} <br>
                                        {{op}} <br>
                                    {% endif %}
                                {% elif op.name == 'nombreDirector'%}
                                    {{op.label}}
                                    <select name="nombreDirector" class="form-control form-control-sm" autocomplete="off" required="" id="id_nombreDirector" >
                                        {% for item in directorCarreraID %}
                                            {% if op.value and directorCarreraIDEdit == item.pk %}
                                            <option value="{{item.pk}}" selected >{{item.getInformacion}}</option>
                                            {% else %}
                                            <option value="{{item.pk}}" >{{item.getInformacion}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'nombre' and listaVerificacionAdd %}
                                    {{op.label}}
                                    <select name="nombre" class="form-control form-control-sm" autocomplete="off" required="" id="id_nombre" >
                                        {% for item in listadoNombresVerificacion %}
                                            <option value="{{item.pk}}" >{{item.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'idEstudiante' and listaVerificacionAdd %}
                                    <input type="hidden" name="idEstudiante" id="id_idEstudiante" value="{{request.user.pk}}" >
                                {% elif op.name == 'idDocentes' and grupoExpertos %}
                                    {{op.label}}
                                    <select name="idDocentes" class="form-control form-control-sm" autocomplete="off" required="" id="id_idDocentes" multiple="">
                                        {% for item in grupoExpertos %}
                                            <option value="{{item.pk}}" >{{item.getInformacion}}</option>
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'idDocente' and IDDocentes %}
                                    {{op.label}}
                                    <select name="idDocente" class="form-control form-control-sm select2" autocomplete="off" required="" id="id_idDocente">
                                        {% for item in IDDocentes %}
                                            <option value="{{item.pk}}" >{{item.getInformacion}}</option>
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'idProyecto' and idProyectoAvances %}
                                    {{op.label}}
                                    {% if idProyectoAvancesList %}
                                        <select name="idProyecto" class="form-control form-control-sm" autocomplete="off" required="" id="id_idProyecto">
                                            {% for item in idProyectoAvancesList %}
                                                <option value="{{item.pk}}" >{{item.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                    <p>Estimado usuario, actualmente no cuenta con ningún proyecto</p>
                                    {% endif %}
                                {% else %}
                                    {{op.label}} <br>
                                    {{op}} <br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        {% if editarValor %}
                        <input type="hidden" name="fechaModificacion" value="{{editarValor}}" >
                        {% endif %}
                            
                </div>
                <div class="card-footer">
                    <td class="header" scope="col">
                        <button type="submit" class="btn btn-outline-primary">Aceptar</button>
                    </td>
                    <td class="header" scope="col">
                        {% if agregar %}
                            <a type="button" onClick="history.go(-1);" class="btn btn-outline-secondary">Cancelar</a>
                        {% else %}
                            <a type="button" href="{{ view.get_success_url }}" class="btn btn-outline-secondary">Cancelar</a>
                        {% endif %}
                    </td>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-top: 30px;" ></div>
{% endblock content %}
