{% extends 'Views/header.html'  %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <div class="container" style="margin-top: 10%; align-content: center;" >
        <form action="" method="POST" class="form" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <b style="font-size: 20px;" > {{accion}} </b>
                </div>
                <div class="card-body">
                        {% csrf_token %}

                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if eliminar %}
                            <div class="alert alert-danger" role="alert">
                                Está seguro de eliminar a <i> <b>{{eliminar.object}}</b> </i>
                            </div>
                        {% else %}
                            {% for op in form %}
                                {% if op.name == 'idEstudiantes' %}
                                    {{op.label}}
                                    <select name="idEstudiantes" class="form-control form-control-sm" autocomplete="off" required="" id="id_idEstudiantes" multiple="">
                                        {% for item in idEstudiantes %}
                                            {% if item.selected %}
                                                <option value="{{item.pk}}" selected >{{item.getInformacion}}</option>
                                            {% else %}
                                                <option value="{{item.pk}}" >{{item.getInformacion}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'idDocente' and request.user.perfil.nombre == 'Docente' %}
                                    <input type="hidden" name="idDocente" id="id_idDocente" value="{{request.user.pk}}" >
                                {% elif op.name == 'idProyecto' and idProyecto %}
                                    {{op.label}}
                                    <select name="idProyecto" class="form-control form-control-sm" autocomplete="off" required="" id="id_idProyecto">
                                        {% for item in idProyecto %}
                                                <option value="{{item.pk}}" >{{item.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'fecha' and tutorias %}
                                    {{op.label}}
                                    <input type="datetime-local" class="form-control form-control-sm"  name="fecha" id="id_fecha"> <br>
                                {% elif op.name == 'idProyecto' and tutorias %}
                                    <input type="hidden" name="idProyecto" id="id_idProyecto" value="{{tutorias.idProyecto.id}}" >
                                {% elif op.name == 'idDocentes' and grupoExpertos %}
                                    {{op.label}}
                                    <select name="idDocentes" class="form-control form-control-sm" autocomplete="off" required="" id="id_idDocentes" multiple="">
                                        {% for item in grupoExpertos %}
                                            <option value="{{item.pk}}" >{{item.getInformacion}}</option>
                                        {% endfor %}
                                    </select>
                                {% elif op.name == 'idProyecto' and idProyectoAvances %}
                                    {{op.label}}
                                    
                                    {% if idProyectoAvancesList %}
                                        <select name="idProyecto" class="form-control form-control-sm" autocomplete="off" required="" id="id_idProyecto">
                                            {% for item in idProyectoAvancesList %}
                                                <option value="{{item.pk}}" >{{item.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                    <p>Estimado usuario, actualmente no cuenta con ningún proyecto</p>
                                    {% endif %}
                                        
                                {% else %}
                                {{op.label}}
                                {{op}}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        {% if editarValor %}
                        <input type="hidden" name="fechaModificacion" value="{{editarValor}}" >
                        {% endif %}
                            
                </div>
                <div class="card-footer">
                    <td class="header" scope="col">
                        <button type="submit" class="btn btn-outline-primary">Aceptar</button>
                    </td>
                    <td class="header" scope="col">
                        {% if agregar %}
                            <a type="button" onClick="history.go(-1);" class="btn btn-outline-secondary">Cancelar</a>
                        {% else %}
                            <a type="button" href="{{ view.get_success_url }}" class="btn btn-outline-secondary">Cancelar</a>
                        {% endif %}
                    </td>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-top: 30px;" ></div>
{% endblock content %}
